.table {
  background: rgb(109, 108, 106);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table__text {
  color: rgba(109, 7, 0, 0.954);
  font-size: 80px;
  font-weight: 200;
}

.table__main {
  width: 530px;
  height: 45px;
  padding: 0;
  padding-left: 20px;
  font-size: 30px;
}

.table__list {
  padding: 0;
  margin-top: 5px;
  background-color: white;
}

.footer__menu {
  text-align: center;
  padding: 5px;
  color: black;
}

.table__list__text {
  display: flex;
  align-items: center;
  font-size: 30px;
  width: 550px;
  height: 45px;
  border-bottom: 1px solid black;
}

.table__list__text__through {
  display: flex;
  align-items: center;
  font-size: 30px;
  width: 550px;
  height: 45px;
  justify-content: space-between;
  text-decoration: line-through;
  border-bottom: 1px solid black;
}

.table__list__text__item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.checkbox {
  margin: 0;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.table__list__filter {
  display: flex;
  margin: 0;
  width: 550px;
  height: 45px;
  padding: 0;
  justify-content: space-between;
  font-size: 19px;
  align-items: center;
}

.filter_text {
  padding-right: 120px;
}
